<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
    
    <form [formGroup] = "formularioRegistro"  (keyup.enter)="CrearUsuario()">
      <ion-list color="warning">
        <h1 class="texto">Iniciar cession</h1>
        <ion-item color="medium">
          <ion-input class="log" type="text"  formControlName="nombre" required label=" Nombre:" placeholder="ingresar nombre y apellido "></ion-input>
        </ion-item>
        <ion-item color="medium">
          <ion-input class="log" type="text"  formControlName="rut" required label="Rut:" placeholder="00000000-0"></ion-input>
        </ion-item>
        <ion-item color="medium">
          <ion-input class="log" type="text" formControlName="password" required label=" Contraseña:" type="password" placeholder="********"value="password"></ion-input>
        </ion-item>
        <ion-item color="medium">
          <ion-input class="log" type="text" formControlName="confirmaPass" required label=" Repetir Contraseña:" type="password" placeholder="********" value="password"></ion-input>
        </ion-item>
      </ion-list>
      <br>
      <ion-button (click)="CrearUsuario()" routerLink="/home" expand="block" shape="round">
        Registrar
      </ion-button>
      <ion-button routerLink="/login" expand="block"  shape="round">
        Volver
      </ion-button>
    </form>
</ion-content>

