<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="start">Escaneo</ion-title>
    <ion-buttons slot="end">
      <ion-back-button 
        defaultHref="/home"
        text="back">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
  <zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>
  <div>
    <p class="scan container-fluid">
      <small>Scan Result</small>
      <strong>{{scanResult}}</strong>
    </p>
    <ion-button href="{{scanResult}}" class="link"shape="round" expand="block">
      escanaer 
    </ion-button>
  </div>
</ion-content>
