
.titulo{
    text-align: center;
}
.texto{
    text-align: center;
    color: black;
}
.caja{
    margin-top: 10%;
}
.log{
    background-color: lightgrey;
    margin-top: 10px;
    display: flex;
    border-radius: 5px;
}
.boton{
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
}