
<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title id="mi-titulo" class="titulo">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list >
    <h1 class="texto">Iniciar cession</h1>
    <ion-item class="caja">
      <ion-input class="log" label=" Nombre:" placeholder="ingresar nombre y apellido "></ion-input>
    </ion-item>
    <ion-item>
      <ion-input class="log" label="Rut:" placeholder="00000000-0"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input class="log" label=" Contraseña:" type="password" value="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button class="boton" color="secondary" size="small" shape="round" routerLink="/home">Iniciar </ion-button>
</ion-content>