<ion-header>
  <ion-toolbar color="medium">
    <ion-title class="titulo">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
  <form [formGroup]="formularioLogin">
    <ion-list color="warning">
      <h1 class="texto">Iniciar sesión</h1>
      <ion-item color="medium">
        <ion-input  class="log" type="text" formControlName="nombre" required label="Nombre:" placeholder="Ingresar nombre y apellido"></ion-input>
      </ion-item>
      <ion-item color="medium">
        <ion-input class="log" type="text" formControlName="rut" required label="Rut:" placeholder="00000000-0"></ion-input>
      </ion-item>
      <ion-item color="medium">
        <ion-input class="log" type="text" formControlName="password" required label="Contraseña:" type="password" placeholder="**********"></ion-input>
      </ion-item>
    </ion-list>
    <br>
    <ion-button (click)="Ingresar()" shape="round" expand="block">
      Ingresar
    </ion-button>
    <ion-button routerLink="/registrar" shape="round" expand="block">
      Registrar
    </ion-button>
  </form>
</ion-content>

