<ion-header >
  <ion-toolbar color="mycolor" >
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo" text-center> RegistrAPP</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="cerrarSesion()" fill="clear">
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="mycolor" class="custom-center-content">
  <h1 class="bien">Bienvenido Profesor {{nombreUsuario}} a RegistrAPP</h1>
  <ion-list color="mycolor">
    <ion-item color="mycolor" *ngFor="let c of componentes"
      [routerLink]="c.redirecTo"
      detail="true"
      class="item">
      <ion-icon [name]="c.icon" slot="start"></ion-icon>
      {{c.name}}
    </ion-item>
  </ion-list>
</ion-content>
