<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title  class="titulo" text-center>Clases</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<br>
<ion-content>
  <!--DATOS DE CLASE 1-->
  <ion-title  >clase 1</ion-title>
  <ion-list>
    <ion-item>
      <ion-label>Asignatura: Base de datos</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>Fecha: 22 de noviembre</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Hora: 8.30</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Sala de Clases: sala 210</ion-label>
    </ion-item>
  </ion-list>

  <div class="centrar-boton">
    <!-- BOTÓN DE GENERAR CÓDIGO QR -->
    <ion-button expand="full" [routerLink]="'/qr1'" [queryParams]="{n: '001'}">
      Iniciar Clase
    </ion-button>
  </div>
  
<br>
<br>

      <!--DATOS DE CLASE 2-->
      <ion-title >clase 2</ion-title>
      <ion-list>
        <ion-item>
          <ion-label>Asignatura: Gestion de Hardware</ion-label>
        </ion-item>
        
        <ion-item>
          <ion-label>Fecha: 26 de noviembre</ion-label>
        </ion-item>
    
        <ion-item>
          <ion-label>Hora: 8.30</ion-label>
        </ion-item>
    
        <ion-item>
          <ion-label>Sala de Clases: sala 210</ion-label>
        </ion-item>
      </ion-list>
    
      <div class="centrar-boton">
        <!-- BOTÓN DE GENERAR CÓDIGO QR -->
        <ion-button expand="full" [routerLink]="'/qr1'" [queryParams]="{n: '002'}">
          Iniciar Clase
        </ion-button>
      </div>

<br>
<br>

      <!--DATOS DE CLASE 3-->
  <ion-title  >clase 3</ion-title>
  <ion-list>
    <ion-item>
      <ion-label>Asignatura: Gestion de Software</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>Fecha: 28 de noviembre</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Hora: 8.30</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Sala de Clases: sala 210</ion-label>
    </ion-item>
  </ion-list>

  <div class="centrar-boton">
    <!-- BOTÓN DE GENERAR CÓDIGO QR -->
    <ion-button expand="full" [routerLink]="'/qr1'" [queryParams]="{n: '003'}">
      Iniciar Clase
    </ion-button>
  </div> 

</ion-content>
